#rou
{
	background-color: yellow;
	font-family: "Tahoma";
}
.tig
{
	background-color: deeppink;
	color: blue;
}
.tig1
{
	background-color: darkgoldenrod;
}
.tig2
{
	background-color: yellow;
}
.tig3
{
	background-color: navajowhite;
}
#rou1
{
	background-color: red;
}
#rou2
{
	background-color: deepskyblue;
}